<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="richTextJavaScript" name="Rich Text Java Script" schema="schema/richTextJavaScript.exsd"/>
   <extension
         point="org.eclipse.epf.richtext.richTextJavaScript">
      <script
            path="rte/rte.js"
            order="0">
      </script>
   </extension>

</plugin>
