<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   
         <extension
               point="org.eclipse.epf.common.service.commandLineRunners">
            <commandLineRunner
                  class="org.eclipse.epf.toolbox.batch.EpfBatchRunner"
                  runnerId="epfBatchRunner">
            </commandLineRunner>
         </extension>
         <extension
               point="org.eclipse.ui.actionSets">
            <actionSet
                  description="Clean up diagram data"
                  id="org.eclipse.epf.toolbox.actionSet.DiagramDoctor"
                  label="Diagram Doctor">
               <menu
                     id="epfToolboxMenu"
                     label="Epf Tools">
                  <separator
                        name="DiagramDoctorGroup">
                  </separator>
               </menu>
               <action
                     class="org.eclipse.epf.toolbox.actions.DiagramDoctor"
                     id="ogr.eclipse.epf.toolbox.actions.DiagramDoctorAction"
                     label="Clean up provcess diagrams"
                     menubarPath="epfToolboxMenu/DiagramDoctorGroup"
                     tooltip="Clean up process diagrams">
               </action>
            </actionSet>
         </extension>
   
   
</plugin>
